x-db-environment: &x-db-environment
  POSTGRES_SSL_MODE: "disable"
  POSTGRES_HOST: "db"
  POSTGRES_PORT: "5432"
  POSTGRES_DB: "db"
  POSTGRES_PASSWORD: "myAwEsOm3pa55@w0rd"
  POSTGRES_USER: "user"

x-rabbitmq-variables: &x-rabbitmq-variables
  RABBITMQ_DEFAULT_USER: "guest"
  RABBITMQ_DEFAULT_PASS: "guest"

x-backend-app-environment: &x-backend-app-environment
  GOMAXPROCS: "1"
  # App
  APP_NAME: "go-clean-template"
  APP_VERSION: "1.0.0"
  APP_ENV: "development"
  # HTTP settings
  HTTP_PORT: "8080"
  HTTP_USE_PREFORK_MODE: "false"
  # Logger
  LOG_LEVEL: "debug"
  # PG
  PG_POOL_MAX: "2"
  PG_URL: "postgres://user:myAwEsOm3pa55@w0rd@db:5432/db"
  # gRPC
  GRPC_ENABLED: "true"
  GRPC_PORT: "8081"
  # RMQ
  RMQ_ENABLED: "true"
  RMQ_RPC_SERVER: "rpc_server"
  RMQ_RPC_CLIENT: "rpc_client"
  RMQ_URL: "amqp://guest:guest@rabbitmq:5672/"
  # NATS
  NATS_ENABLED: "true"
  NATS_RPC_SERVER: "rpc_server"
  NATS_URL: "nats://guest:guest@nats:4222/"
  # Redis
  REDIS_ENABLED: "true"
  REDIS_URL: "redis://redis:6379/0"
  # Metrics
  METRICS_ENABLED: "true"
  # Swagger
  SWAGGER_ENABLED: "true"
  # CORS
  CORS_ALLOWED_ORIGINS: "*"
  # Rate Limit
  RATE_LIMIT_MAX: "100"
  RATE_LIMIT_EXPIRATION: "1m"
  # Tracing
  TRACER_ENABLED: "false"
  TRACER_URL: "http://jaeger:4318/v1/traces"
  TRACER_SERVICE_NAME: "go-clean-template"


services:
  db:
    container_name: db
    image: postgres:18.2-alpine
    environment:
      <<: *x-db-environment
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d db"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      app_network:
        aliases:
          - db.lvh.me

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:4.2.4-management
    environment:
      <<: *x-rabbitmq-variables
    ports:
      - "15672:15672"
      - "5672:5672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 15s
      timeout: 10s
      retries: 5
      start_period: 30s
    networks:
      app_network:
        aliases:
          - rabbitmq.lvh.me

  nats:
    container_name: nats
    image: nats:2.12-alpine
    command: [ "-m", "8222", "-sd", "/nats-data", "-user", "guest", "-pass", "guest" ]
    ports:
      - "4222:4222"
      - "8222:8222"
    volumes:
      - nats_data:/nats-data
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8222/healthz"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    networks:
      app_network:
        aliases:
          - nats.lvh.me

  redis:
    container_name: redis
    image: redis:7.4-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    networks:
      app_network:
        aliases:
          - redis.lvh.me

  app:
    container_name: app
    platform: linux/amd64
    pid: "host"
    build:
      context: .
    environment:
      <<: *x-backend-app-environment
    ports:
      - "8080:8080"
      - "8081:8081"
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      nats:
        condition: service_healthy
      redis:
        condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: '1.00'
          memory: '2Gb'
        reservations:
          cpus: '0.60'
          memory: '1Gb'
    networks:
      app_network:
        aliases:
          - app.lvh.me

  nginx:
    container_name: nginx
    image: nginx:1.29.5-alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    depends_on:
      - rabbitmq
      - app
    networks:
      app_network:
        aliases:
          - nginx.lvh.me


networks:
  app_network:
    external: false


volumes:
  db_data:
  rabbitmq_data:
  nats_data:
  redis_data:
